﻿@using reunions.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Réunions</title>
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"></script>

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary p-0">
        <div class="container">
            <a class="navbar-brand p-0" href="/Home/Index"><img id="brand_logo_navbar" src="~/Content/images/logo_nav.png" alt="Brand-Logo" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto mb-2 mb-lg-0 d-flex justify-content-center">
                    @if (Session["connected"] == null)
                    {
                        <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                            <a class="nav-link pl-3" href="/Home/Index">Home</a>
                        </li>
                        <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Inscription" ? "active" : "")">
                            <a class="nav-link pl-3" href="/Home/Inscription">Inscription</a>
                        </li>
                        <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Login" ? "active" : "")">
                            <a class="nav-link pl-3" href="/Home/Login">Connexion</a>
                        </li>
                    }
                    else
                    {
                        User UserConn = (User)Session["connected"];
                        <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "MesReunions" ? "active" : "")">
                            <a class="nav-link pl-3" href="/Membre/MesReunions">Mes Réunions</a>
                        </li>

                        if (UserConn.role == 0)    //si c'est un Utilisateur
                        {
                            <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "MesGroupes" ? "active" : "")">
                                <a class="nav-link pl-3" href="/Membre/MesGroupes">Mes Groupes</a>
                            </li>
                        }
                        else if (UserConn.role == 1)   //si c'est un Manager
                        {
                            <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "CreerReunion" ? "active" : "")">
                                <a class="nav-link pl-3" href="/Membre/CreerReunion">Créer une Reunion</a>
                            </li>
                            <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "CreerGroupe" ? "active" : "")">
                                <a class="nav-link pl-3" href="/Membre/CreerGroupe">Créer un Groupe</a>
                            </li>
                            <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "GestionUsers" ? "active" : "")">
                                <a class="nav-link pl-3" href="/Membre/GestionUsers">Gestion des Utilisateurs</a>
                            </li>
                        }
                        <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Logout" ? "active" : "")">
                            <a class="nav-link pl-3" href="/Membre/Deconnexion">Déconnexion</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content mt-3 mb-4">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Site de Réunions, Par Yohan Gaagnon-Knackstedt & Mohammad Sayem</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", false)
</body>
</html>
