﻿@{
    ViewBag.Title = "Page d'accueil";
}
@if (TempData["error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["error"]
    </div>
}
@if (TempData["message"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["message"]
    </div>
}
<div class="jumbotron">
    <div class="d-flex justify-content-lg-between">
        <div>
            <h1>Projet de Réunions</h1>
            <p class="lead">Page d'accueil...</p>
        </div>
        <img id="brand_logo_index" src="~/Content/images/logo_nav.png" alt="Brand-Logo" />
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2><u>Description</u></h2>
        <p>
            Ce site web est une plateforme qui permet de regrouper des gens pour l'organisation de réunions. (sauf pendant le Covid-19 ...).
            Ceci peux aider des équipes de sport ou des groupes de travail à organiser un événement où ils sauront tout les informations nécessaires; comme le sujet, le plan, le leux et la date précise.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Gérants</h2>
        <p>Les gérants (Managers/Administrateurs) pourrons créer des groupes en désignant ses membres. Il pourra ensuite creer des réunions avec tout les infos et en spécifiant le groupe qui   qui contien les utilisateurs  et des réunions, et gérer tout les comptes de la plateforme.</p>
    </div>
    <div class="col-md-4">
        <h2>Utilisateurs</h2>
        <p>N'importe qui peux créer un compte et sera placé dans la liste des utilisateurs. Ceux-ci peuvent participer à des réunions s'ils ont été placé dans un groupe. Ils peuvent visualiser le calendrier des réunions à venir et voir plus en détail le plan de chaques réunions. Ils peuvent aussi savoir dans quels groupes ils font partie!</p>
    </div>
</div>