﻿@model reunions.Models.UserSignup

@{
    ViewBag.Title = "Inscription";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h2 class="text-center font-weight-bold">Formulaire d'inscription</h2>
<hr />
<div class="row justify-content-center">
    <div class=" col-11 col-sm-7 col-md-6 col-lg-4">
        @if (TempData["error"] != null)
        {
            <div class="alert alert-danger text-center" role="alert">
                @TempData["error"]
            </div>
        }
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success text-center" role="alert">
                @TempData["message"]
            </div>
        }
        @using (Html.BeginForm("Inscription", "Home", System.Web.Mvc.FormMethod.Post,
            new { @id = "signupForm" }))
        {

            <div class="form-group">
                <label for="prenom">Prénom</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    @Html.EditorFor(model => model.prenom,
                        new { htmlAttributes = new { @class = "form-control", @id = "prenom", placeholder = "Entrez votre prenom", type = "text", required = "required" } })
                </div>
            </div>
            <div class="form-group">
                <label for="InputUsername">Nom</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                    @Html.EditorFor(model => model.nom,
                        new { htmlAttributes = new { @class = "form-control", @id = "nom", placeholder = "Entrez votre Nom", type = "text" } })
                </div>
            </div>
            <div class="form-group">
                <label for="email">Courriel: </label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    @Html.EditorFor(model => model.email,
                        new { htmlAttributes = new { @class = "form-control", @id = "email", placeholder = "Entrez votre courriel", type = "email", required = "required" } })
                </div>
            </div>
            <div class="form-group">
                <label for="password">Mot de passe: </label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    @Html.EditorFor(model => model.password,
                        new { htmlAttributes = new { @class = "form-control", @id = "password", placeholder = "Mot de passe", type = "password", required = "required" } })
                </div>
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirmer votre mot de passe: </label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    @Html.EditorFor(model => model.password2,
                        new { htmlAttributes = new { @class = "form-control", @id = "confirm_password", placeholder = "Copie du mot de passe", type = "password", required = "required" } })
                </div>
            </div>
            <div class="form-group input-group">
                <button type="submit" class="btn btn-primary" id="bInscription"
                        name="bInscription">
                    S'inscrire
                </button>
            </div>
        }
        <div class="form-group input-group">
            @Html.ActionLink("Je n'ai pas de compte", "Login", "Home", new { @class = "btn btn-link pl-0 m-0" })
        </div>

    </div>
</div>

<!-- Pour que le ValidationFormulaire.js fonctione  -->
<script type="text/javascript" src="@Url.Content("/Scripts/ValidationFormulaire.js")"></script>

