﻿
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Commande";
}
@model reunions.Models.User
<h2 class="text-center font-weight-bold">Connexion</h2>
<hr />
<div class="row justify-content-center">
    <div class=" col-11 col-sm-7 col-md-6 col-lg-4">
        @if (TempData["error"] != null)
        {
            <div class="alert alert-danger text-center" role="alert">
                @TempData["error"]
            </div>
        }
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success text-center" role="alert">
                @TempData["message"]
            </div>
        }
        @using (Html.BeginForm("Login", "Home", System.Web.Mvc.FormMethod.Post,
                new { @class = "g-brd-around g-brd-gray-light-v4 g-pa-30 g-mb-30 no-border", @id = "login-form" }))
        {
            <h3>Connexion</h3>
            @Html.ValidationMessageFor(model => model.email, "", new { @class = "erreur" })
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class=" et-icon-envelope g-font-size-default g-mr-10"></i>
                        <span class="glyphicon glyphicon-envelope"></span>
                    </span>
                    @Html.EditorFor(model => model.email,
                        new { htmlAttributes = new { @class = "form-control", placeholder = "toto@abc.com", type = "email", required = "required" } })
                </div>
                <span class="error"></span>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-asterisk"></span>
                    </span>
                    @Html.EditorFor(model => model.password,
                        new { @htmlAttributes = new { @class = "form-control", type = "password", placeholder = "Mot de passe", required = "required" } })
                </div>
                <span class="error"></span>
            </div>
            <div class="form-group input-group">
                <button type="submit" class="btn btn-primary" id="bConnexion"
                        name="bConnexion">
                    Se connecter
                </button>
            </div>
            <div class="form-group input-group">
                @Html.ActionLink("Je n'ai pas de compte", "Signup", "Home", new { @class = "btn btn-link pl-0 m-0" })
            </div>
        }
    </div>
</div>
