﻿* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.025em;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
/* from:  https://fonts.google.com/specimen/Montserrat */

html,
body {
    height: 100%;
}

h5 {
    margin: 0;
}

#brand_logo_navbar {
    max-height: 58px !important;
    padding: 2px;
}
#brand_logo_index {
    max-height: 150px !important;
    padding: 2px;
}

#plan_text {
    max-height: 500px;
    overflow-y: auto;
}

select option:checke {
    color: green;
}

.membres_groupe {
    max-height: 114px; /* nous donne 4 lignes... */
    overflow-y: auto;
}

section.membres_groupe strong a {
    color: blue;
}

/* tooltips: https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
