﻿@model reunions.Models.Groupe
@using reunions.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["error"] != null)
{
    <div class="alert alert-danger text-center" role="alert">
        @TempData["error"]
    </div>
}
@if (TempData["message"] != null)
{
    <div class="alert alert-success text-center" role="alert">
        @TempData["message"]
    </div>
}
<h2 class="text-center mb-4"><strong><u>Créer groupe</u></strong></h2>
@using (Html.BeginForm("CreerGroupe", "Membre", System.Web.Mvc.FormMethod.Post,
        new { @class = "g-brd-around g-brd-gray-light-v4 g-pa-30 g-mb-30 no-border", enctype="multipart/form-data"}))
{
    <div class="form-group d-flex justify-content-start align-items-center pt-2">
        <h5 class="pr-2">Titre: </h5>
        @Html.EditorFor(model => model.titre,
            new { htmlAttributes = new { @class = "form-control", placeholder = "Entrer le titre du nouveau groupe", type = "text", required = "required" } })
    </div>
    <div class="form-group">
        <h5>Photo:</h5>
        @Html.EditorFor(model => model.photo_path,
            new { htmlAttributes = new { @class = "form-control-file mt-1", type = "file", accept = "image/png, image/jpeg", @id = "photo_groupe" } })
    </div>
    <div class="form-group">
        <h5>Ajout des membres:</h5>
        <div class="accordion mt-1" id="accordionExample">
            <div class="card">
                <span id="ErrorMessageAcordeon" class="warningMessage" style='color: red;'>Veuillez cocher au moins un Utilisateur!</span>
                <div class="card-header" id="heading1">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed text-uppercase" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                            liste des Utilisateurs <img name="req" src="~/Content/images/required_icon.svg" style="vertical-align: top;" />
                        </button>
                    </h5>
                </div>
                <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordionExample">
                    <div class="card-body">
                        @if (ViewData["users"] != null)
                        {
                            foreach (var user in ViewData["users"] as List<User>)
                            {
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" name="ListeUsers" id="@user.id" value="@user.id" required="required">
                                    <label class="custom-control-label" for="@user.id">@user.prenom @user.nom</label>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="alert alert-danger" role="alert">
                                Aucun compte utilisateur pour le moment.
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group input-group mb-2 mt-3">
            <button type="submit" class="btn btn-primary" id="bCreerGroupe"
                    name="bCreerGroupe">
                Créer
            </button>
        </div>
    </div>
}
<!-- custom script pour cette page -->
<script type="text/javascript" src="@Url.Content("/Scripts/CreerGroupe.js")"></script>

