﻿@model reunions.Models.Reunion
@using reunions.Models
@{
    ViewBag.Title = "CreerReunion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["error"] != null)
{
    <div class="alert alert-danger text-center" role="alert">
        @TempData["error"]
    </div>
}
@if (TempData["message"] != null)
{
    <div class="alert alert-success text-center" role="alert">
        @TempData["message"]
    </div>
}
<h2 class="text-center mb-4"><strong><u>Nouvelle Réunion</u></strong></h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row mb-4">
        <div class="col-lg-6 col-md-6 col-sm-12 d-flex flex-column justify-content-around">
            <div class="form-group d-flex justify-content-start align-items-center pt-2">
                <h5 class="pr-2">Sujet:</h5>
                @Html.EditorFor(model => model.sujet,
                    new { htmlAttributes = new { @class = "form-control", placeholder = "Entrer le sujet de la réunion", required = "required" } })
            </div>
            <div class="form-group input-group d-flex justify-content-start align-items-center pt-2">
                <h5 class="pr-2">Durée:</h5>
                @Html.EditorFor(model => model.duree,
                    new { htmlAttributes = new { @class = "form-control col-lg-3 col-md-4 col-sm-3", @type = "number", min="1", max="360", placeholder = "en minutes", aria_describedby = "basic-addon1", required = "required" } })
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon1">Min.</span>
                </div>
            </div>
            <div class="form-group pt-2 mb-1">
                <h5 class="pr-2 mb-2">Date et Temps:</h5>
                @Html.EditorFor(model => model.date,
                    new { htmlAttributes = new { @class = "form-control col-lg-7 col-md-9", @type = "datetime-local", required = "required" } })
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 d-flex flex-column justify-content-center">
            <div>
                @if (ViewData["dtgroupes"] != null)
                {
                    <h5 class="pr-2 mb-1">Groupe:</h5>
                    <select class="custom-select custom-select-lg mb-3" name="GroupeId" required>
                        <option value="" disabled selected>--- choisir un groupe ---</option>
                        @foreach (var gr in ViewData["dtgroupes"] as List<Groupe>)
                        {
                            <option value="@gr.id">@gr.titre</option>
                        }
                    </select>
                }
                else
                {
                    <div class="alert alert-danger" role="alert">
                        <span>Aucun groupe créé pour le moment!</span>
                        <span>Veuillez <a href="/Membre/CreerGroupe">créer un groupe</a>!</span>
                    </div>
                }
            </div>
            <div class="d-flex justify-content-start align-items-center pt-2">
                <h5 class="pr-2">Adresse et lieux:</h5>
                @Html.EditorFor(model => model.adresse,
                    new { htmlAttributes = new { @class = "form-control col-lg-7 col-md-9", placeholder = "Adresse de la réunion", required = "required" } })
            </div>
        </div>
    </div>
    <h5 class="pr-2 m-1">Plan et description:</h5>
    @Html.EditorFor(model => model.plan,
            new { htmlAttributes = new { @class = "form-control", placeholder = "Entrer le sujet de la réunion", @rows = 5, required = "required" } })

    <div class="form-group m-2">
        <button type="submit" class="btn btn-primary" id="bCreerReunion" name="bCreerReunion">
            Créer
        </button>
    </div>
}