﻿@using reunions.Models
@{
    ViewBag.Title = "GestionManager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["error"] != null)
{
    <div class="alert alert-danger text-center" role="alert">
        @TempData["error"]
    </div>
}
@if (TempData["message"] != null)
{
    <div class="alert alert-success text-center" role="alert">
        @TempData["message"]
    </div>
}
<h2 class="text-center mb-5"><strong><u>Tableau de bord Administrateur</u></strong></h2>
<div class="card mb-4">
    <div class="card-header">
        <h4 class='my-auto'><i class="fas fa-users-cog"></i>  Panneau d'utilisateurs:</h4>
    </div>
    <div class="card-body">
        @if (ViewData["users"] != null)
        {
            <table class="table table-striped mydatatable" style="width: 100%">
                <thead>
                    <tr>
                        <th class="text-nowrap"><i class="fas fa-id-badge"></i> Id</th>
                        <th class="text-nowrap"><i class="fas fa-address-card"></i> Nom et Prenom</th>
                        <th class="text-nowrap"><i class="fas fa-at"></i> Email   <i class="far fa-envelope"></i></th>
                        <th class="text-nowrap"><i class="fas fa-user-shield"></i> Gérant</th>
                        <th class="text-nowrap"><i class="fas fa-trash-alt"></i> Supprimer</th>
                    </tr>
                </thead>
                <tbody class="body-datatable">
                    @foreach (var user in ViewData["users"] as List<User>)
                    {
                        <tr class='my-auto table-active'>
                            <td class='text-nowrap my-auto'>@user.id</td>
                            <td class='text-nowrap my-auto'>@user.prenom @user.nom</td>
                            <td class='text-nowrap my-auto'>@user.email</td>
                            <td class='text-nowrap my-auto'>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" onclick="chg_role_user(this,'@user.id', '@user.prenom');return false;"
                                        @if (user.role == 1) { @: checked
                                        }>
                                        <!-- ^^^ si c'est un admin, ça sera coché (checked) ^^^ -->
                                    <label class="form-check-label" for="flexSwitchCheckChecked"></label>
                                </div>
                            </td>
                            <td class="text-center text-nowrap col-1">
                                <a id="supp_user" href="#" onclick="supp_user(this,'@user.id', '@user.prenom');return false;"><i class="fas fa-times fa-lg text-danger"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-danger text-center" role="alert">
                Aucun compte pour le moment!
            </div>
        }
    </div>
</div>

<!-- jQuery CDN POUR QUE LE DATATABLE FONCTIONNE! (mais brise le ValidationFormulaire.js si inclu dans cette page...) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Pour le DataTable -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/r-2.2.3/sc-2.0.1/datatables.min.css" />
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/r-2.2.3/sc-2.0.1/datatables.min.js"></script>

<script>
    $('.mydatatable').DataTable({
        lengthMenu: [[10, 25, 100, -1], [10, 25, 100, "All"]],
        scrollY: 400,
        scrollX: true,
        scrollCollapse: true,
        "language": {
            "lengthMenu": "Afficher _MENU_ données par page",
            "zeroRecords": "Aucun compte trouvé",
            "info": "Page _PAGE_ sur _PAGES_",
            "infoEmpty": "Aucunes données disponibles",
            "infoFiltered": "(filtré à partir de _MAX_ enregistrements totaux)",
            "search": "Recherche:",
            "thousands": " ",
            "processing": "En traitement...",
            "decimal": ",",
            "paginate": {
                "first": "Premier",
                "last": "Dernier",
                "next": "Prochain",
                "previous": "Précédent"
            }
        }
    });
    //pour les paramêtres de language: https://datatables.net/reference/option/language
</script>

<!-- custom script pour cette page -->
<script type="text/javascript" src="@Url.Content("/Scripts/GestionUsers.js")"></script>
