﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["error"] != null)
{
    <div class="alert alert-danger text-center" role="alert">
        @TempData["error"]
    </div>
}
@if (TempData["message"] != null)
{
    <div class="alert alert-success text-center" role="alert">
        @TempData["message"]
    </div>
}
<h2>Page des membres</h2>
<p>Veuillez utiliser les liens de navigation pour choisir l'action à compléter.</p>
