﻿@model IEnumerable<reunions.Models.Groupe>
@using reunions.Models

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="text-center mb-4"><strong><u>Mes groupes</u></strong></h2>
@if (Model != null)
{
    @*@*@foreach (Groupe gr in Model)
    {
        <div class="card bg-primary text-white mb-4">
            <div class='card-header pb-0 pt-0'>
                <div class="row">
                    <h5 class="col-lg-9 col-md-8 col-sm-12 pb-2 pt-2"><strong>@gr.titre</strong></h5>
                    <h6 class="col-lg-3 col-md-4 col-sm-12 pb-1 pt-2 mt-1 m-0 text-right align-text-bottom"><strong>Créé le:</strong> @gr.date_creation</h6>
                </div>
            </div>
            <div class="card-body">
                @if (gr.membres != null)
                {
                    <div class="d-flex flex-column">
                        <h5>Tout les Membres :</h5>
                        <section class="pb-2 pt-2 mt-2 border-bottom border-top border-secondary membres_groupe">
                            @foreach (User user in gr.membres)
                            {
                                <strong class="text-nowrap pr-3"> ● <a href="Membre/User/@user.id">@user.prenom @user.nom</a></strong>
                            }
                        </section>
                        @if (gr.photo_path != null)
                        {
                            <img src="~/App_Data/@gr.photo_path" alt="">
                        }
                    </div>
                }
            </div>
        </div>
    }
}
@if (Model == null)
{
    <div class="alert alert-danger" role="alert">
        Vous n'êtes dans aucun groupe pour le moment.
    </div>
}