﻿@model IEnumerable<reunions.Models.Reunion>
@using reunions.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center mb-4"><strong><u> Mes Réunions </u></strong></h2>
    @if (Model != null)
    {
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col"> Sujet </th>
                <th scope="col"> Date </th>
                <th scope="col"> Durée </th>
                <th scope="col">  Manager </th>
                <th scope="col">  Groupe </th>
                <th scope="col"> Adresse </th>


            </tr>
        </thead>
       @foreach (Reunion re in Model)
       {
       <tbody>
           <tr class="table-primary">
               <td> @re.sujet </td>
               <td> @re.date </td>
               <td> @re.duree </td>
               <td> @re.manager.nom </td>
               <td> @re.groupe </td>
               <td> @re.adresse </td>
           </tr>
             <tr>
                <td> @re.plan </td>
             </tr>
       </tbody>
       }

    </table>
}
@if (Model == null)
{
    <div class="alert alert-danger" role="alert">
        Vous n'avez aucune réunion dans l'avenir.
    </div>
}



