﻿@using reunions.Models
@model reunions.Models.Reunion

@{
    ViewBag.Title = "Plan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Plan</h2>
@if (TempData["message"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["message"]
    </div>
}
@if (TempData["error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["error"]
    </div>
}
else
{
    <div class="card border-2 border-primary">
        <div class="card-header text-center">
            <h2>[Sujet de la réunion]</h2>
        </div>
        <div class="card-body row border-dark">
            <div class="col-lg-6 col-md-12 d-flex flex-column justify-content-around pl-0">
                <div class="alert alert-primary d-flex justify-content-start pl-2 pr-2">
                    <h5 class="pr-2 text-nowrap"><strong><u>Date :</u></strong></h5>
                    <span><strong>Le 22 décembre 2020</strong></span>
                </div>
                <div class="alert alert-primary d-flex justify-content-start pl-2 pr-2">
                    <h5 class="pr-2 text-nowrap"><strong><u>Heure :</u></strong></h5>
                    <span><strong>22h30</strong></span>
                </div>
                <div class="alert alert-primary d-flex justify-content-start pl-2 pr-2">
                    <h5 class="pr-2 text-nowrap"><strong><u>Durée :</u></strong></h5>
                    <span><strong>30 minutes</strong></span>
                </div>
                <div class="alert alert-primary d-flex justify-content-start pl-2 pr-2">
                    <h5 class="pr-2 text-nowrap"><strong><u>Adresse :</u></strong></h5>
                    <span><strong>4235 Rue des boissons</strong></span>
                </div>
                <div class="alert alert-primary d-flex justify-content-start pl-2 pr-2">
                    <h5 class="pr-2 text-nowrap"><strong><u>Créé il y a :</u></strong></h5>
                    <span><strong>2 jours</strong></span>
                </div>

            </div>
            <div class="col-lg-6 col-sm-12 border-left border-primary pt-0">
                <h2 class="border-bottom"><u>Plan</u></h2>
                <section id="plan_text" class="pb-2 border-bottom border-secondary">
                    <p class="pt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos accusamus, cumque praesentium perspiciatis porro, ad labore et dolorem possimus sapiente fugiat! Et ducimus earum magni, itaque asperiores sequi eveniet provident repellendus est fugiat fugit delectus expedita mollitia non odio consequuntur, illo nisi. Sapiente repellendus, quisquam totam molestiae rem id. Saepe dolorum blanditiis voluptatibus fugiat. Eligendi doloremque facilis quia distinctio explicabo, sint fuga corporis? Dolor hic error fugiat provident. Ab minus sed fugiat possimus quaerat explicabo recusandae sunt accusamus quibusdam. Excepturi in cumque, consectetur dolorem doloribus, repellat commodi culpa dicta libero, vel quod eligendi dolores optio distinctio ducimus suscipit. Dignissimos, laudantium libero? Id, veniam modi. Labore quod maiores optio perspiciatis deserunt inventore itaque dolorem ducimus mollitia error quis aliquid beatae eos accusantium, unde recusandae placeat harum dicta id numquam earum nihil! Harum porro mollitia molestiae atque. Fuga molestiae iste soluta praesentium quidem provident incidunt corrupti magni aperiam laudantium vitae illum cumque autem quas quia saepe, nulla aut nihil ut accusantium officiis, quos delectus est nobis. Perferendis dolor beatae tenetur temporibus quo saepe eius voluptates hic cupiditate labore eaque, repellat facere ea aperiam explicabo, placeat harum dignissimos? Dicta repudiandae minus a sunt error libero laboriosam reiciendis! Est eius numquam, quis natus sunt voluptatem officiis reiciendis necessitatibus architecto delectus. Beatae nisi expedita distinctio harum dolor quae modi omnis dicta nostrum, voluptates explicabo odio aspernatur molestias reprehenderit minima est ducimus corporis vero. Dolore placeat numquam voluptatibus quibusdam doloribus, nobis culpa deserunt corrupti quas nemo blanditiis impedit unde deleniti. Eius vero rem dolores quo, pariatur ea consequatur, tempore maiores eum, dolore esse iste. Dignissimos inventore similique sequi quidem accusamus. Quibusdam doloribus et animi voluptatem, repudiandae quis placeat ratione quasi sed rem delectus modi veritatis, eveniet esse, reprehenderit maiores incidunt alias consequuntur non soluta obcaecati itaque ducimus quae totam. Voluptates quia perspiciatis cum dolorum officia ad perferendis nam maxime, deserunt quae debitis iusto minima, nulla nostrum sit rerum? Hic, error. Iure maiores quasi ea omnis eos placeat porro laudantium architecto ab corporis, vero neque ad at quod rerum sit, qui vitae reprehenderit beatae maxime! Rem labore officiis illum provident quibusdam. Eius, deleniti, recusandae quasi rem vero non nisi repellat soluta mollitia culpa ratione natus. Excepturi quia officia animi ad necessitatibus assumenda itaque quas, natus laudantium. Porro praesentium dolor odio placeat est exercitationem fugit sit vero vitae laborum nesciunt totam laudantium blanditiis, quibusdam veritatis ab facere. Suscipit illo aperiam necessitatibus unde nulla doloremque quidem tempore, commodi veniam earum ex porro quis rerum omnis neque dolor quae eligendi animi nostrum. Deleniti officiis tempora non atque laborum excepturi eligendi velit sunt et veritatis id aut odit, rem ex quae, eum nobis. Quis consequuntur sint consequatur natus quae nesciunt doloremque quasi dolore? Possimus molestias, dolores deleniti voluptate tempore laboriosam cum est ab iste eum distinctio cumque voluptatibus, laborum totam ad. Necessitatibus exercitationem vitae a id dolore magni est dolor facilis laborum excepturi ipsam sapiente, distinctio illum nobis voluptatem voluptate deserunt esse quaerat numquam facere ad. Ea accusantium sequi ab accusamus explicabo excepturi debitis, eum nulla non, porro, saepe a quisquam sed ratione molestias temporibus libero! Laborum soluta nisi expedita minima! At eveniet pariatur accusamus recusandae odit animi. Soluta temporibus modi aut tempore placeat tenetur doloribus doloremque nesciunt impedit provident. Quia, necessitatibus deleniti. Quos cumque quaerat, in tenetur nam laboriosam laborum dolor perferendis id excepturi harum. Nobis officiis vel veniam natus odit, rerum velit, ratione vero sequi atque consequuntur officia eaque, ut aperiam! Natus quibusdam nulla facere impedit dolor, harum, exercitationem quae accusamus accusantium dicta asperiores alias vel culpa suscipit, nihil atque animi consequatur ratione magni praesentium. Asperiores, fugit corporis et ab placeat consequatur libero odio harum accusantium deleniti deserunt ex minus, pariatur sequi nostrum expedita animi earum similique officia officiis quo unde. Soluta, aspernatur tempora totam iusto beatae excepturi impedit dicta in alias, sunt, laboriosam ipsam adipisci! Delectus soluta porro eius inventore harum corporis blanditiis laborum, nemo rerum, omnis animi natus repudiandae? Voluptatibus velit tempora nam expedita dignissimos numquam necessitatibus! Natus harum itaque quam molestias quae possimus nesciunt corrupti. Reprehenderit non repudiandae, veniam, est veritatis excepturi rerum quidem deleniti in eveniet consequatur! Corporis itaque esse aperiam qui aliquam quasi maxime velit officia animi rerum, quo dolor ullam neque quam vel. Cumque eligendi tempora magnam possimus ut vitae distinctio maxime similique. Dolores deleniti, et at ut quae sapiente illo similique cumque soluta necessitatibus magni recusandae fuga eos quia nobis minima quis quaerat id veniam assumenda vero dolorem adipisci laboriosam blanditiis? Tempore, nostrum in aperiam laudantium dolore vitae eveniet repellendus ratione aspernatur exercitationem explicabo. Quo accusantium ducimus nihil voluptatibus quisquam esse saepe, dignissimos vitae soluta fugiat, deserunt voluptates veniam debitis facere delectus sapiente culpa eum eligendi dolorum ex reprehenderit nobis ad? Nobis error veritatis a iusto eaque debitis facere, rem magnam ipsa reprehenderit quos ullam itaque dolore perspiciatis earum eligendi voluptate nisi corrupti voluptatum necessitatibus aut ducimus vel aspernatur voluptatibus. Id culpa maxime eum odio, velit, corrupti voluptas facere veniam amet vero consectetur. Corporis illum, dignissimos rerum iure eum voluptate quidem porro, tempora officiis veniam reprehenderit laborum repudiandae, facilis ad inventore accusamus optio id ipsa obcaecati distinctio nesciunt harum saepe! Illo exercitationem necessitatibus a. Ipsum corrupti placeat sit quidem vero, veritatis velit magni iure modi quaerat quisquam suscipit provident error quis accusamus laudantium quo consequatur sunt fuga rerum dignissimos asperiores quibusdam nostrum mollitia! Saepe earum necessitatibus recusandae corporis velit eaque accusamus commodi at id, assumenda voluptates optio, deserunt rerum impedit a quidem dignissimos inventore maxime voluptatum odit est iste esse nostrum amet! Incidunt, blanditiis? Reprehenderit tempore molestias repellendus facilis explicabo vel dolorum? Ipsum, quo odio quia id amet iure quos tenetur veritatis esse at, est provident adipisci similique ullam quod ea ad earum ut culpa atque ab dicta impedit aliquam. Quae error culpa harum exercitationem corrupti autem eaque accusantium alias quam nihil nam officia ipsum reiciendis, magni, incidunt repudiandae et sint tenetur omnis sunt doloribus optio, minima dignissimos iure? Illum adipisci nobis, nostrum quibusdam, libero perspiciatis animi magni officia minus odit necessitatibus, reiciendis repellendus explicabo voluptatibus sequi possimus! Molestias, nesciunt error, pariatur fugit laboriosam nobis sint est incidunt quod quasi doloremque aliquam!</p>
                </section>
            </div>
        </div>
    </div>
}

